.button1 {
    background-color: orange;
    display: inline-flex;
    color: black;
    margin: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
}
.button1:hover {
    background-color: red;
    color: black;
  }
.button2 {
    background-color: yellowgreen;
    display: inline-flex;
    color: black;
    margin: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
}
.button2:hover {
    background-color: red;
    color: black;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
body {background-color: powderblue;}
h1 {background-color: yellowgreen;}
p {background-color: orange;}