.button1 {
    /*button style 1*/
    background-color: orange;
    display: inline-flex;
    color: black;
    margin: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
}
.button1:hover {
    /*button hover style 1*/
    background-color: red;
    color: black;
  }
.button2 {
    /*button style 2*/
    background-color: yellowgreen;
    display: inline-flex;
    color: black;
    margin: 5px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
}
.button2:hover {
    /*button hover style 2*/
    background-color: red;
    color: black;
  }
.center {
    /*Centers Text*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/*body, header1, and paragraph background color*/
body {background-color: powderblue;}
h1 {background-color: yellowgreen;}
p {background-color: orange;}
footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
.footer-logo{
  width: 3vw;
  height: 3vw;
  padding: 1.5vw;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: orange;
  color: white;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellowgreen;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0p;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:orange;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}